* {
  margin: 0; 
  padding: 0; 
}

html {
  height: 100%;
  width: 100%;	
}


body {
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  width: 100%;	 
}

.container {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.container-padding {
  padding-bottom: 65px;
  padding-top: 65px;
}

.col-md-12, .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.header-red, #specializing {
  font-family: "Times New Roman", Helvetica, Arial, sans-serif;
}

#header, .specialize, #forms {
  color:#d83333
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 20px;
  text-align: center;
}

p, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

hr {
  margin-left: 37%;
  width: 25%;
}


/* Navigation */


/* Header */

.header-section {
  background-image: url("../img/header-bg-bw.png");
}

.navbar {
  background: none;
  margin-bottom: 0;
}

.navbar-default {
  border: none;
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
  border-left: 2px solid #988e8e;
  border-right: 2px solid #988e8e;
  color: black;
  font-weight: 800;
  margin: 10px 0 0 14px;
  padding: 10px 50px 0;
  text-transform: uppercase;
}

.header-para {
  font-family: 'Montserrat', sans-serif;
}


.header-container {
  background-size: cover;
  height: 100vh;
  padding-top: 150px;
  text-align: center;
}

.header {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 100px 0;
}

#header {
  font-size: 80px;
  text-transform: lowercase;
}

.header-para {
  font-size: 30px;
  text-transform: uppercase;
}

/* Industries */ 

#specializing {
  color: #d83333;
  font-size: 30px;
}

.industry-columns {
  padding: 15px;
  text-align: center;
}

.industry-icon {
  padding-bottom: 20px;
}

.industry-h3 {
  text-transform: uppercase;
}

.industry {
  border: 1px solid gray;
  text-align: center;
}


/* What We Do */

.specialize {
  background-color: #0a0a1b;
  padding-bottom: 35px;
  text-align: center;
}

#whatwedo {
  font-size: 37px;
  margin: 0;
  padding-bottom: 5px;
}

.whatwedo-hr {
  background-color: blue;
  border: 2px solid blue;
  margin: auto;
  width: 175px;
}

.industries {
  color: white;
  font-size: 20px;
  padding-top: 5px;
}


/* Services We Offer */

.services-container {
  padding-left: 75px;
  padding-right: 75px;
}

.services-offered {
  color: white;
}

.services-offered-left {
  border-right: 2px solid white;
  padding-bottom: 28px;
}

.services-offered-right {
  padding-left: 30px;
}


/*New Business */ 
.new-business, .existing-business {
  color: black;
}

.new-business {
  text-align: center;
}

.new-business-list li {
  list-style-type: none;
}

.existing-business {
  padding-bottom: 35px;
  text-align: center;
}


/* Pricing */

.pricing-section {
  background-color: #e7e7e7;
}

.pricing-header {
  background-color: #fff;
}

.pricing {
  padding: 40px 0;
}

.header {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

#our-plans-header {
  border: 4px solid #0a0a1b;
  margin: auto;
  padding: 15px 53px;
  width: 327px;
}

.columns {
  float: left;
  padding: 50px;
  width: 25%;
}

.price {
  background-color: #fff;
  border: 4px solid #0a0a1b;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  -webkit-transform:scale(1.05); /*Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
   transform:scale(1.05);
}

.pricing-hr {
  background: black;
  height: 3px;
}

.price .header {
  background-color: white;
  color: black;
  font-size: 25px;
}

.price li {
  padding: 17px;
  text-align: center;
}

.price .grey {
  font-size: 20px;
  line-height: 1.9;  
}

.price-bold {
  font-weight: 400;
}

.extra-info {
  padding: 0 0 25px 97px;
}

.phone-number {
  color: #d83333;
}

/* Forms */ 

.documents-box-row {
  display: flex;
  justify-content: center;
}

.documents-box-col {
  display: flex;
  justify-content: center;
}

.documents-box {
  background-color: #8e8e8e;
  border: 1px solid #fff;
  float: left;
  height: 125px;
  margin: 10px;
  width: 125px;
}

.documents-box-p {
  color: white;
  padding-top: 47px;
  text-align: center;
  text-transform: uppercase;
}

.documents-box:hover {
  background-color: #a7a4a4;
}

.documents-box a:hover {
  text-decoration: none;
}

.forms {
  background-color: #0a0a1b;
  padding: 40px;
  width: 100%;
}

/*
#forms {
  color: #475056;
}

.form-cont {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.form-cont .form {
  border: none;
  border-radius: 7px;
  color: #5519b5;
  font-size: 18px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}

.form-cont .form:hover {
  background-color: #3c8c40;
  -webkit-transition-duration: 1s; /* Safari 
  transition-duration: 1s;
}*/


/* Footer */

.footer-container {
  text-align: center;
}

.separator {
  background-color: #0a0a1b;
  height: 75px;
}

.copyright-section {
  text-align: center;
}


@media screen and (max-width: 990px) {
  .services-offered-left {
    border-right: none;
  }

  .services-offered-right {
    padding-top: 35px;
  }
  
  .columns {
    width: 100%;
  }

  .documents-box-row {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media (min-width: 768px) {

.navbar .navbar-nav {
      display: inline-block;
      float: none;
  }
  
  .navbar .navbar-collapse {
      text-align: center;
  }
}


@media screen and (max-width: 650px) { 
  .nav-a {
    text-align: center;
  }

  .header-container {
    padding-top: 0;
  }

  .extra-info {
    padding-left: 15px;
  }
}